@-moz-viewport: {width: device-width;scale: 1;}
@-ms-viewport: {width: device-width;scale: 1;}
@-viewport: {width: device-width;scale: 1;}
@-o-viewport: {width: device-width;scale: 1;}
@-webkit-viewport: {width: device-width;scale: 1;}
@viewport: {width: device-width;scale: 1;}

html {
  box-sizing: border-box;
  moz-text-size-adjust:100%;
	ms-text-size-adjust:100%;
	webkit-text-size-adjust:100%;
	text-size-adjust:100%;
	font-family: 'Open Sans', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header{

	background-color: #04102A;
	color: white;
}

nav{
	text-align: center;
}

.billboard-content{
   text-shadow: 2px 3px 2px #000000;
   padding-top: 8em;
}

.banner-img{
	background-color: grey;
	color: white;
	text-align: center;
}

.billboard {
	background-color: grey;
	background-image: url(../images/home.jpg);
	background-position: center center;
	width: 100%;
	background-size: 100%;
	overflow: hidden;
	height: 20em;
	text-align: center;
	color: white;
	background-repeat: no-repeat;
}

.billboard-tour{
	background-color: grey;
	background-image: url(../images/tour.jpg);
	background-position: center center;
	width: 100%;
	background-size: 100%;
	overflow: hidden;
	height: 20em;
	text-align: center;
	color: white;
	background-repeat: no-repeat;
}

.billboard-pricing {
	background-color: grey;
	background-image: url(../images/pricing.jpg);
	background-position: center center;
	width: 100%;
	background-size:220%;
	overflow: hidden;
	height: 20em;
	text-align: center;
	color: white;
	background-repeat: no-repeat;
	text-align: center;
}

.billboard-signup {
	background-color: grey;
	background-image: url(../images/signup.jpg);
	background-position: center center;
	width: 100%;
	background-size: 200%;
	overflow: hidden;
	height: 20em;
	text-align: center;
	color: white;
	background-repeat: no-repeat;
}

.bold{
	font-weight: 700;
}

.pre-footer{
	background-color: #04102A;
	color: white;
	text-align: center;
	padding: 5%;
}

.padding-left{
	padding-left: 20px;
}

.copyright{
	text-align: center;
}

a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}

.terms {
	white-space: nowrap;
}

input + label {
  display: inline-block;
}

input:hover
input:active {
  border-color: #2F4F4F;
}

label {
  display: block;
}

fieldset{
	width: 100%;
	border: none;
	cursor: pointer;
}

.terms{
	white-space: nowrap;
}

.side-form {
	position: relative;
	margin-right: 20%;
	margin-left: 20%;
	padding-bottom: 4em;
}

.form{
	width: 100%;
}

.wid {
  width: 100%;
  height: 2em;
  outline: solid 1px grey;
  border-style: none;
}

.wid:focus {
	outline: 1px solid #000;
}

.text-feild {
	background-color: rgba(40,40,40,.1);
}


.footer{
	text-align: center;
}

.footer a{
	color: black;
}

.icon{
	width: 5em;
}

.light-grey{
	background-color: #F2F2F2;
}

.grey{
	background-color: #E6E6E6;
}

.social-icon{
	max-width: 54px;
}

@media only screen and (min-width: 15em ) {
/* 240px =x-small */

	.nav{
		text-align: center;
	}



.billboard{
	background-size: 250%;
}

.billboard-tour{
	background-size: 215%;
}

.billboard-signup{
	background-size: 212%;
}

.footer-icons{
	height: 40px;
}

}


@media only screen and (min-width: 25em ) {
/* 400px =small */

	.nav{
		text-align: right;
	}

	.billboard{
		background-size: 125%;
	}

	.billboard-pricing{
	background-size: 125%;
}

.billboard-tour{
	background-size: 130%;
}

.bucket img{
	max-height: 142.109px;
	max-width: 120px;
}


}

@media only screen and (min-width: 38em) {
	/* 608px */

.billboard{
	background-size: 100%;
}

	.billboard-pricing{
	background-size: 100%;
	height: 20em;
}

.billboard-tour{
	background-size: 100%;
}
}

@media only screen and (min-width: 60em){

	.billboard{
		background-size: 100%;
	}

	.billboard-pricing{
	background-size: 100%;
	height: 20em;
}

.billboard-tour{
	background-size: 100%;
}

.billboard-signup{
	background-size: 100%;
}

}


